.Cards {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping to the next line */
  padding-left: 30px;
  padding-bottom: 40px;
  margin-top: 35px;
  margin-bottom: 35px;
  gap: 20px;
  font-family: Poppins;
}

.card {
  border-radius: 30px;
  width: 176px;
  flex: 0 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;

}

.card__img_container {
  position: relative; /* Establishes a relative positioning context */
  width: 100%; /* Ensure the container takes the full width of the image */
  height: auto;
}
  
.card__img {
  width: 100%;
  height: 235px;
}

.card__img_overlay {
  position: absolute; /* Position the text absolutely within the container */
  top: 7px; /* Align the text to the top */
  left: 7px; /* Align the text to the left */
  color: black;
  background-color: white;
  border-radius: 3px;
  padding: 3px 10px 3px; 
  font-size: 11px; /* Adjust text size as needed */
  z-index: 10;
  text-align: center;
  line-height: 20px;
}

.card-header {
  font-size: 14px;
  text-align: left;
}

.card__review_score {
  padding-right: 5px; /* Adjust the spacing as needed */
}

.card__review_count {
  color: grey;
  padding-right: 5px; /* Same spacing */
}

.card__loc{
  color: grey;
}

.card__title {
  font-size: 14px;
  display: inline-block;
  margin-top: 5px;
  /* font-weight: lighter; */
  color: black;
}

.card__price {
  font-size: 14px;
  display: inline-block;
  margin-top: 7px;
  color: #2f2f2f;
}

.card__status {
  color: #6b6b6b;
  border: 5px;
}

  