.App {
  text-align: left;
}

body {
  background-color: #282c34;
}

body.light {
  background-color: #FFFFFF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.react-logo-img {
  width: 50px;
  margin: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21222A;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25); /* Make shadow lighter */
  z-index: 10;

}

nav.light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
}

nav > h1 {
  margin: 0;
}

.nav__logo-text {
  margin-right: auto;
  color: #61dafb;
  /* font-size: 22px; */
}

.nav__title {
  margin-right: 20px;
  color: white;
}

.nav-items {
  display: flex;
  list-style: none;
}

.nav-items > li {
  padding: 10px;
}

main {
  background-color: #282D35;
  padding: 57px;
  color: white;
  background-image: url("./images/react-icon-background.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 75%;
}

main.light {
  background-color: #FFFFFF;
  padding: 57px;
  color: #2B283A;
  background-image: url("./images/react-icon-background.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 75%;
}

.main__title {
  margin: 0;
}

.main__list > li {
  /* padding: 10px; */
  line-height: 19px;
  padding-block: 8px;
}

.main__list > li::marker {
  color: #61dafb;
  font-size: 1.5rem;
}


main {
  flex: 1; /* Push footer to the bottom */
}

.Footer {
  /* margin-top: 20px; */
  padding: 5px;
  background-color: lightgray;
}

