.App {
  text-align: left;
}

body {
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.react-logo-img {
  width: 50px;
  margin: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21222A;
}

nav > h1 {
  margin: 0;
}

.nav__logo-text {
  margin-right: auto;
  color: #61dafb;
  /* font-size: 22px; */
}

.nav__title {
  margin-right: 20px;
  color: white;
}

.nav-items {
  display: flex;
  list-style: none;
}

.nav-items > li {
  padding: 10px;
}

main {
  background-color: #282D35;
  padding: 57px;
  color: white;
  background-image: url("./images/react-icon-background.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 75%;
}

.main__title {
  margin: 0;
}

.main__list > li {
  /* padding: 10px; */
  line-height: 19px;
  padding-block: 8px;
}

.main__list > li::marker {
  color: #61dafb;
  font-size: 1.5rem;
}


main {
  flex: 1; /* Push footer to the bottom */
}

.Footer {
  /* margin-top: 20px; */
  padding: 5px;
  background-color: lightgray;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
